* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Relief', sans-serif;
}
p, a, li, span, figcaption {
    font-family: 'Josefin Sans', sans-serif;
}

/* Generico para todfo el sitio */
body {
    background-color: #F2F2F0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(229, 216, 242);
    height: 10vh;
}

.logo {
    width: 12rem;
    height: auto;
    margin-left: 1.25rem;
    margin-top: 0.25rem;
}

.nav-links li a {
    color: hsl(274, 47%, 29%);
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 1.25rem;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer {
    background-color: hsl(270, 50%, 90%);
    padding: 1.5rem 1rem;
    text-align: center;
}

.footer-links li {
    margin: 0 1rem;
}

.footer-links li, a {
   color: hsl(274, 47%, 29%);
   text-decoration: none;
}

main {
    min-height: 80vh;
}

h1, h2, h3 {
    color:#593273;
    margin-bottom: 1rem;
}
/* inicio o index */
.home {
    text-align: center;
    padding: 2rem;
}

.img-home img {
    width: 70%;
    max-width: 650px;
    height: auto;
    margin-top: 1rem;
    border-radius: 1rem;
}

/* nosotroshtml */
.nosotros {
    text-align: center;
    padding: 2rem;
}

.img-nosotros img {
    width: 70%;
    max-width: 650px;
    height: auto;
    margin-top: 1rem;
    border-radius: 1rem;
}

/* visitanoshtml */
.section2 {
    text-align: center;
    padding: 2rem;
}

.ubicacion img {
    width: 70%;
    max-width: 650px;
    height: auto;
    margin-top: 4rem;
    border-radius: 1rem;
}

/* dulceshtml */
.dulces {
    text-align: center;
    padding: 2rem;
}

.dulces img {
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

/* bebidashtml */
.section5 {
    padding: 2rem;

}

.section5 h2, p {
    margin-bottom: 1rem;
    text-align: center;
}


.bebidas_Calientes {
    margin-left: 1rem;
}

.bebida_caliente img {
    width: 20rem;
    height: 25rem;
    margin-top: 1rem;
    border-radius: 1rem;
}


.bebida_caliente {
    margin-bottom: 2rem;
}

.bebidas_Frias {
    margin-left: 1rem;
}

.ice_taro_latte img {
    width: 20rem;
    height: 25rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.ice_taro_latte {
    margin-bottom: 2rem;
}

.btn-home {
    margin-top: 2rem;
    background-color: #593273;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
.btn-home {
    color: #E8AB17;
    font-weight: bold;
}