* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Tipografias */
@import url('https://googleapis.com');
@import url('https://googleapis.com');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Relief', sans-serif;
}
p, a, li, span, figcaption {
    font-family: 'Josefin Sans', sans-serif;
}

/* Generico para todo el sitio */
body {
    background-color: #F2F2F0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.2;
}

li {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

h1, h2 {
    color: #593273;
    margin-bottom: 1rem;
}

h3{
    color: #E8AB17;
}
main {
    min-height: 80vh;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(229, 216, 242);
    height: 10vh;
}

.logo {
    width: 12rem;
    height: auto;
    margin-left: 1.25rem;
    margin-top: 0.25rem;
}

.nav-links {
    list-style: none;
    display: flex;        
    gap: 1.25rem;          
    margin-right: 1.25rem;
}

.nav-links li a {
    color: hsl(274, 47%, 29%);
    text-decoration: none;
}

/*Home y nosotros*/

.home, .nosotros, .section2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1.5rem;           
    padding: 2rem;
    text-align: center;
}

/*Dulces*/
.dulces {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;         
    justify-content: center; 
    gap: 1.5rem;            
    padding: 2rem;
    text-align: center;
}

.dulces h2, .dulces p {
    width: 100%;
}

/*Bebidas*/
.section5 {
    display: flex;
    flex-direction: column;
    gap: 2rem;              
    padding: 2rem;
}

.section5 h2, .section5 p {
    margin-bottom: 1rem;
    text-align: center;
}

.bebidas-calientes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 4rem;            
    width: 60%;
    border-radius: 8px;
    background-color:#6f3f90;
    margin: auto;
    color:hwb(271 85% 5%);
}

.bebidas-frias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 8rem; 
    width: 60%;
    border-radius: 8px;
    background-color:#6f3f90;
    margin: auto;
    color: hwb(271 85% 5%);
}

/*Imagenes en general*/
.img-home, .img-nosotros, .ubicacion, .bebida_caliente, .ice_taro_latte,
.dulce1, .dulce2, .dulce3, .dulce4, .dulce5 {
    padding: 1.25rem;
    border: 1px solid transparent; 
}

.img-home img, .img-nosotros img, .ubicacion img {
    width: 70%;
    max-width: 650px;
    height: auto;
    border-radius: 1rem;
}

.dulces img {
    width: 20rem;
    height: 20rem;
    border-radius: 8px;
}

.dulce1, .dulce2, .dulce3, .dulce4, .dulce5{
    background-color: #6f3f90;
    color: hwb(271 85% 5%);
    border-radius: 8px;
}

figcaption {
    margin-top: 1rem;       
    text-align: center;
}

/* contenedoras de bebidas */
.bebida_caliente, .ice_taro_latte {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 25rem;       
}


.bebida_caliente img, .ice_taro_latte img {
    width: 100%;
    max-width: 100%;        
    height: auto;
    border-radius: 1rem;
}


.bebidas_Calientes, .bebidas_Frias {
    text-align: left;       
}

/* Botón Home con Box Model del home */
.btn-home {
    background-color: #593273;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #E8AB17;
    font-weight: bold;
    border: none;
}

/*Footer*/
footer {
    background-color: hwb(271 85% 5%);
    padding: 1.5rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;   
    align-items: center;          
}

.footer-links li a {
    color: hsl(274, 47%, 29%);
    text-decoration: none;
}
/*Alinea los elementos internos (h3 y ul) a la izquierda de su bloque contenedor */
.bebi-calien, .bebi-fri {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}
